---js
{
  eleventyExcludeFromCollections: true,
  permalink: "/feed.xml",
  layout: false,
  metadata: {
    language: "en"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/assets/pretty-atom-feed.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language }}">
  <title>{{ site.name | escape }}</title>
  <subtitle>{{ site.description | escape }}</subtitle>
  <link href="{{ site.url | escape }}/feed.xml" rel="self" />
  <link href="{{ site.url | escape }}" />
  <updated>{{ collections.news | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url | escape }}/</id>
  <author>
    <name>{{ site.name | escape }}</name>
  </author>
  {%- for post in collections.news limit: 20 %}
  {%- assign absolutePostUrl = post.url | htmlBaseUrl: site.url %}
  <entry>
    <title>{{ post.data.name | escape }}</title>
    <link href="{{ absolutePostUrl | escape }}" />
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl | escape }}</id>
    <content type="html"><![CDATA[{{ post.content | transformWithHtmlBase: site.url, post.url }}]]></content>
  </entry>
  {%- endfor %}
</feed>
